/* Banner */

.banner {
  background: $red;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: $default-spacing;
  height: $banner-height;
}

.banner__logo {
  flex: 1 1 auto;
  color: $white;
  padding: $default-spacing-halved 0;

  svg {
    height: 70px;
    fill: $white;
  }
}
