/* Button */

.button {
  background: $teal;
  font-size: 0.9rem;
  border-radius: 3px;
  color: $white;
  font-weight: 100;
  padding: 6px 8px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  > span {
    flex: 1 1 auto;
  }

  > .icon {
    flex: 0 0 auto;
  }

  > span + .icon {
    margin-left: $default-spacing-halved;
  }
}

.button:hover,
.button:active {
  background: darken($teal, 10%);
}

.button[disabled] {
  background: darken($teal, 10%);
  cursor: default;
}

.button--secondary {
  background: $red;
}

.button--secondary:hover,
.button--secondary:active {
  background: darken($red, 10%);
}

.button--nav {
  background: transparent;
  width: 100%;
  padding: $default-spacing-halved;
}

.button--nav:hover,
.button--nav:active {
  color: rgba($white, 0.8);
  background: transparent;
}

.button:focus {
  outline: none;
}

.button--active {
  color: $red;
}

.button--active:hover,
.button--active:active {
  color: rgba($red, 0.8);
}
