/* Button */
$button-height: 36px;
$button-font-size: 16px;
$button-font-weight: 200;

.button {
  background: $teal;
  box-sizing: border-box;
  font-size: $button-font-size;
  height: $button-height;
  border-radius: $default-border-radius;
  color: $white;
  font-weight: $button-font-weight;
  padding: 6px 8px;
  border: none;
  cursor: pointer;
  text-decoration: none;

  > span {
    display: inline-block;
    vertical-align: text-bottom;
  }

  > .icon {
    display: inline-block;
    vertical-align: middle;
  }

  > .icon + span {
    margin-left: $default-spacing-halved;
  }
}

.button:hover,
.button:active {
  background: darken($teal, 10%);
}

.button[disabled] {
  background: darken($teal, 10%);
  cursor: default;
}

.button--secondary {
  background: $red;
}

.button--secondary:hover,
.button--secondary:active {
  background: darken($red, 10%);
}

.button--nav {
  background: transparent;
  width: 100%;
  padding: $default-spacing-halved;
}

.button--nav:hover,
.button--nav:active {
  color: rgba($white, 0.8);
  background: transparent;
}

.button:focus {
  outline: none;
}

.button--active {
  color: $red;
}

.button--active:hover,
.button--active:active {
  color: rgba($red, 0.8);
}
