/* Torrent */

$torrent-width: 200px;

$image-height: 300px;
$image-width: 200px;

$totals-width: 60px;

.torrent {
  flex: 0 1 $torrent-width;
  margin: 0 $default-spacing $default-spacing $default-spacing;
}

.torrent__image {
  width: $image-width;
  height: $image-height;
  background-repeat: no-repeat;;
  background-size: cover;
  background-clip: border-box;
}

.torrent__totals {
  margin-left: $default-spacing-halved;
  width: $totals-width;
}
